<!DOCTYPE html>
<html lang="en">
<head>
    <title>Home page</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <style>
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
        }
        tr.spaceUnder>td {
            padding-bottom: 1em;
        }
    </style>
</head>
<body>

<p>
    Void Refund Details
</p>

<div>
    <table id="voidRefundDetailReportDtoLinkedHashMap" style="width:100%">
        <thead>
        <tr>
            <th> Receipt Type</th>
            <th> Order No </th>
            <th> Order Time </th>
            <th> Order Type </th>
            <th> Payment Type </th>
            <th> User ID </th>
            <th> Authorized  ID </th>
            <th> Reason </th>
            <th> Total </th>
        </tr>
        </thead>

        <tbody>

            <span th:each="instance : ${voidRefundDetailReportDtoLinkedHashMap}">
                <tr th:each="itemDto : ${instance.value}">
                    <td th:text="${instance.key}"></td>
                   <td th:text="${itemDto.orderNo}"></td>
                    <td th:text="${itemDto.createdAt}"></td>
                    <td th:text="${itemDto.orderType}"></td>
                    <td th:text="${itemDto.type}"></td>
                    <td th:text="${itemDto.userName}"></td>
                    <td></td>
                    <td th:text="${itemDto.reason}"></td>
                    <td th:text="${itemDto.sale}"></td>
                </tr>
            </span>
        </tbody>

    </table>
</div>

</body>
</html>